services:
  node:
    image: ${ZG_DOCKER_IMAGE_REGISTRY:-ghcr.io/emberstake/0g-docker}/node:${NODE_TAG:-v3.1.0}
    build:
      dockerfile: docker/node/Dockerfile
      context: .
    restart: unless-stopped
    profiles:
      - node
    working_dir: /home/zerog
    networks:
      og:
    environment:
      - GOGC=${NODE_GOGC:-900}
      - GOMEMLIMIT=${NODE_GOMEMLIMIT:-40GiB}
      - CHAIN_ID=${NODE_CHAIN_ID:-zgtendermint_16600-2}
    env_file:
      - .env
    logging:
      options:
        max-size: "12m"
        max-file: "5"
    command:
      - run
      - start
      - --log_level
      - ${NODE_LOG_LEVEL:-info}
      - --log_output_console
      - --api.enable
      - --grpc.enable
      - --grpc.address
      - "0.0.0.0:9090"
      - --grpc-web.enable
      - --grpc-web.address
      - "0.0.0.0:9091"
      - --json-rpc.enable
      - --json-rpc.address
      - "0.0.0.0:8545"
      - --json-rpc.ws-address
      - "0.0.0.0:8546"
      - --json-rpc.api
      - eth,txpool,personal,net,debug,web3
      - --json-rpc.block-range-cap
      - "20000"
      - --json-rpc.logs-cap
      - "20000"
      - --proxy_app
      - "tcp://0.0.0.0:26658"
      - --p2p.laddr
      - "tcp://0.0.0.0:26656"
      - --p2p.seeds
      - ${SEEDS}
      - --p2p.persistent_peers
      - ${PERSISTENT_PEERS}
      - --p2p.external-address
      - ${EXTERNAL_IP}:${P2P_PORT}
      - --rpc.laddr
      - "tcp://0.0.0.0:26657"
    volumes:
      - type: bind
        source: ./configs/node/init.sh
        target: /init.sh
        read_only: true
      - type: volume
        source: node_data
        target: /home/zerog/.0gchain/data
      - type: volume
        source: node_config
        target: /home/zerog/.0gchain/config
      - type: volume
        source: node_keyring
        target: /home/zerog/.0gchain/keyring-test
    ports:
      - "${P2P_PORT}:26656" # p2p
      - "${RPC_PORT}:26657"
      - "${API_JSON_RPC_PORT}:8545"
      - "${LCD_PORT}:1317"
  storage-node:
    image: ${ZG_DOCKER_IMAGE_REGISTRY:-ghcr.io/emberstake/0g-docker}/storage-node:${STORAGE_NODE_TAG:-v0.4.0}
    build:
      dockerfile: docker/storage/Dockerfile
      context: .
      args:
        - STORAGE_NODE_TAG=${STORAGE_NODE_TAG:-v0.4.0}
    environment:
      - STORAGE_NETWORK_BOOT_NODES=${STORAGE_NETWORK_BOOT_NODES:-["/ip4/54.219.26.22/udp/1234/p2p/16Uiu2HAmTVDGNhkHD98zDnJxQWu3i1FL1aFYeh9wiQTNu4pDCgps","/ip4/52.52.127.117/udp/1234/p2p/16Uiu2HAkzRjxK2gorngB1Xq84qDrT4hSVznYDHj6BkbaE4SGx9oS","/ip4/18.162.65.205/udp/1234/p2p/16Uiu2HAm2k6ua2mGgvZ8rTMV8GhpW71aVzkQWy7D37TTDuLCpgmX"]}
      - STORAGE_LOG_CONTRACT_ADDRESS=${STORAGE_LOG_CONTRACT_ADDRESS:-0xB7e39604f47c0e4a6Ad092a281c1A8429c2440d3} #A.K.A flow contract
      - STORAGE_MINE_CONTRACT_ADDRESS=${STORAGE_MINE_CONTRACT_ADDRESS:-0x6176AA095C47A7F79deE2ea473B77ebf50035421}
      - STORAGE_LOG_SYNC_START_BLOCK_NUMBER=${STORAGE_LOG_SYNC_START_BLOCK_NUMBER:-401178}
      - STORAGE_LOG_CONFIGS=${STORAGE_LOG_CONFIGS:-info,hyper=info,h2=info}
    restart: unless-stopped
    working_dir: /home/zerog
    profiles:
      - storage
    networks:
      og:
    env_file:
      - .env
    logging:
      options:
        max-size: "12m"
        max-file: "5"
    volumes:
      - type: volume
        source: storage_data
        target: /home/zerog
      - type: volume
        source: storage_config
        target: /config
    ports:
      - "${STORAGE_NETWORK_ENR_TCP_PORT}:${STORAGE_NETWORK_ENR_TCP_PORT:-1}" # libp2p
      - "${STORAGE_NETWORK_ENR_UDP_PORT}:${STORAGE_NETWORK_ENR_UDP_PORT:-1}/udp" # discovery
      - "${STORAGE_RPC_LISTEN_PORT}:5678" # rpc server port
  kv-node:
    image: ${ZG_DOCKER_IMAGE_REGISTRY:-ghcr.io/emberstake/0g-docker}/kv-node:${KV_NODE_TAG:-v1.1.0-testnet}
    build:
      dockerfile: docker/kv/Dockerfile
      context: .
      args:
        - KV_NODE_TAG=${KV_NODE_TAG:-v1.1.0-testnet}
    environment:
      - KV_LOG_CONTRACT_ADDRESS=${KV_LOG_CONTRACT_ADDRESS:-0xB7e39604f47c0e4a6Ad092a281c1A8429c2440d3} #A.K.A flow contract
      - KV_LOG_SYNC_START_BLOCK_NUMBER=${KV_LOG_SYNC_START_BLOCK_NUMBER:-401178}
      - KV_LOG_CONFIGS=${KV_LOG_CONFIGS:-info,hyper=info,h2=info}
    restart: unless-stopped
    user: zerog
    working_dir: /home/zerog
    profiles:
      - kv
      - da-client
    networks:
      og:
    env_file:
      - .env
    logging:
      options:
        max-size: "12m"
        max-file: "5"
    volumes:
      - type: volume
        source: kv_data
        target: /home/zerog
      - type: volume
        source: kv_config
        target: /config
    ports:
      - "${KV_RPC_LISTEN_PORT}:6789" # kv rpc server port
  da-encoder:
    image: ${ZG_DOCKER_IMAGE_REGISTRY:-ghcr.io/emberstake/0g-docker}/da-encoder:${ENCODER_TAG:-6d5bac1}
    build:
      dockerfile: docker/encoder/Dockerfile
      context: .
      args:
        - ENCODER_TAG=${ENCODER_TAG:-6d5bac1}
    ports:
      - "${DA_ENCODER_LISTEN_PORT}:34000" # grpc listen port
    restart: unless-stopped
    user: zerog
    working_dir: /home/zerog
    profiles:
      - da
      - da-encoder
      - da-client
    networks:
      og:
    env_file:
      - .env
    logging:
      options:
        max-size: "12m"
        max-file: "5"
    volumes:
      - type: volume
        source: da_encoder_config
        target: /config
    command:
      - --config
      - /config/config.toml
  da-node:
    image: ${ZG_DOCKER_IMAGE_REGISTRY:-ghcr.io/emberstake/0g-docker}/da-node:${DA_NODE_TAG:-8be1b87}
    build:
      dockerfile: docker/da-node/Dockerfile
      context: .
      args:
        - DA_NODE_TAG=${DA_NODE_TAG:-8be1b87}
    environment:
      - DA_NODE_LOG_LEVEL=${DA_NODE_LOG_LEVEL:-info}
      - DA_NODE_ETH_RPC_ENDPOINT=${DA_NODE_ETH_RPC_ENDPOINT}
      - DA_NODE_SOCKET_ADDR=${DA_NODE_SOCKET_ADDR}
      - DA_NODE_SOCKET_PORT=${DA_NODE_SOCKET_PORT}
      - DA_NODE_ENTRANCE_CONTRACT=${DA_NODE_ENTRANCE_CONTRACT:-0xDFC8B84e3C98e8b550c7FEF00BCB2d8742d80a69}
      - DA_NODE_START_BLOCK_NUMBER=${DA_NODE_START_BLOCK_NUMBER:-802}
      - DA_NODE_SIGNER_BLS_PRIVATE_KEY=${DA_NODE_SIGNER_BLS_PRIVATE_KEY}
      - DA_NODE_SIGNER_ETH_PRIVATE_KEY=${DA_NODE_SIGNER_ETH_PRIVATE_KEY}
      - DA_NODE_ENABLE_DAS=${DA_NODE_ENABLE_DAS:-false}
    ports:
      - "${DA_NODE_SOCKET_PORT}:34000" # grpc listen port
    restart: unless-stopped
    user: zerog
    working_dir: /home/zerog
    profiles:
      - da
      - da-node
    networks:
      og:
    logging:
      options:
        max-size: "12m"
        max-file: "5"
    volumes:
      - type: volume
        source: da_node_data
        target: /home/zerog
      - type: volume
        source: da_node_config
        target: /config
  da-client:
    image: ${ZG_DOCKER_IMAGE_REGISTRY:-ghcr.io/emberstake/0g-docker}/da-client:${DA_CLIENT_TAG:-bdf8ba9}
    build:
      dockerfile: docker/da-client/Dockerfile
      context: .
      args:
        - DA_CLIENT_TAG=${DA_CLIENT_TAG:-bdf8ba9}
    ports:
      - "${DA_CLIENT_LISTEN_PORT}:51001" # grpc listen port
    restart: unless-stopped
    user: zerog
    working_dir: /home/zerog
    profiles:
      - da
      - da-client
    networks:
      og:
    logging:
      options:
        max-size: "12m"
        max-file: "5"
    volumes:
      - type: volume
        source: kv_data
        target: /kv
    depends_on:
      - kv-node
    command: |
      --chain.rpc ${DA_CLIENT_ETH_RPC_ENDPOINT}
      --chain.private-key ${DA_CLIENT_PRIVATE_KEY}
      --chain.receipt-wait-rounds 180
      --chain.receipt-wait-interval 1s
      --chain.gas-limit 2000000
      --combined-server.use-memory-db
      --combined-server.storage.kv-db-path /kv
      --combined-server.storage.time-to-expire 300
      --disperser-server.grpc-port 51001
      --batcher.da-entrance-contract 0xDFC8B84e3C98e8b550c7FEF00BCB2d8742d80a69
      --batcher.da-signers-contract 0x0000000000000000000000000000000000001000
      --batcher.finalizer-interval 20s
      --batcher.confirmer-num 3
      --batcher.max-num-retries-for-sign 3
      --batcher.finalized-block-count 50
      --batcher.batch-size-limit 500
      --batcher.encoding-interval 3s
      --batcher.encoding-request-queue-size 1
      --batcher.pull-interval 10s
      --batcher.signing-interval 3s
      --batcher.signed-pull-interval 20s
      --encoder-socket ${DA_CLIENT_ENCODER_SOCKET}
      --encoding-timeout 600s
      --signing-timeout 600s
      --chain-read-timeout 12s
      --chain-write-timeout 13s
      --combined-server.log.level-file trace
      --combined-server.log.level-std  trace

volumes:
  node_config:
  node_data:
  node_keyring:
  storage_data:
  storage_config:
  kv_data:
  kv_config:
  da_node_data:
  da_node_config:
  da_encoder_config:
networks:
  og:
